{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='formstyle.css') }}"/>
  </head>
  <body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category,message in messages %}
        {% if category == 'error' %}
        <div class="alert-danger">
          {{ message }}
        </div>
        {% else %}
        <div class="alert-success">
          {{ message }}
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}

      <div class="formcontainer">
        <form method = "POST">
          <label for="username" id="lbl">E-mail:</label><br>
          <input type="email" class="username" id="username" name="username" placeholder="Username"><br>
          <label for="password" id="lbl">Password:</label><br>
          <input type="password" class="password" id="password" name="password" placeholder="Password"> <br><br>
          <button type="submit" class="submit">Login</button>
        </form>
      </div>
  </body>
</html>
{% endblock %}
